.scratch{
    color: white;
    padding: 7px;
    border-radius: 7px;
}
.motion {
    background-color: #126ed8;
}
.looks{
    background-color: #791da3;
}
.variable{
    background-color: #db7a20;
}
.green{
    background-color: #21a021;
}