$black:#0a0806;
$gray: #e6e6e6;
$white: #fffefd;
$emerald: #95eed8;
$orange: #e77021;
$darkgray: #585451;

@mixin textFormat ($s, $w, $c) {
    font-size: $s;
    font-weight: $w;
    color: $c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sel-n{
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer */
    -ms-user-select: none;
    /* KHTML browsers (наподобие Konqueror) */
    -khtml-user-select: none;
    /* Chrome, Safari и Opera */
    -webkit-user-select: none;
    /* Отключить вызовы в Android и iOS */
    -webkit-touch-callout: none;
}
a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6, button, select {
    font-family: 'Jura', sans-serif;
}

.posR {
    position: relative;
}

// font-family: 'Jura', sans-serif;
// font-family: 'Roboto', sans-serif;
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
// Login FORM
.login-err{
    display: none;
    margin: 0 auto 20px;
    background: rgb(221, 116, 116);
    font-size: 1.5rem;
    width: 25rem;
    text-align: center;
    padding: 7px;
    span{
        font-size: .7em;
    }
    &-show{
        display: block;
    }
    &-anim{
        animation: animErr 1s ease-in-out;
    }
}
@keyframes animErr{
    25%{transform: translateX(-5%);}
    75%{transform: translateX(5%);}
}
#login-form{
    font-size: 25px;
    font-family: 'Jura', sans-serif;
    color: black;
    text-align: center;
    input{
        padding: 7px;
        margin: 15px;
        font-family: 'Jura', sans-serif;
        font-size: 24px;
        &:focus{
            background: $emerald;
        }
    }
    [type=submit] {
        padding: 7px 15px;
        cursor: pointer;
    }
}
/*Header*/
.header {
    visibility: hidden;
    z-index: 3;
    &__inner {
        z-index: 4;
        padding: 10px;
        position: relative;
    }

    .nav {
        width: 500px;
        z-index: 1000;
        --underlinePos: ;
        position: relative;
        font-family: 'Jura', sans-serif;
    }

    .nav-link {
        z-index: 1000;
        cursor: pointer;
        @include textFormat(1rem, 600, $black);
        margin-bottom: 10px;
        margin-right: 30px;
        font-size: .9rem;
        text-transform: uppercase;
    }

    .nav-active:after {
        content: " ";
        position: absolute;
        top: 35px;
        left: var(--underlinePos);
        transform: translateX(-50%);
        width: 80px;
        height: 1px;
        background-color: #e77021;
        transition: all .2s ease;
    }

    .nav-link:hover {
        color: black;
    }

    .filters{
        margin-top: 40px;
    }
    #mapSelected{
        padding: 7px;
        border: 1px solid $orange;
        outline: none;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: filter .2s ease;
        &:hover{
            filter: drop-shadow(8px 8px 10px gray);
        }
    }

    #toTop {
        z-index: 100;
        display: none;
    }

    .fa-caret-square-up {
        display: block;
        z-index: 100;
        position: fixed;
        left: 25px;
        bottom: 100px;
        color: $gray;
        transition: filter .15s ease;
        animation: toTopBtn 1s ease;

        &:hover {
            filter: brightness(50%);
        }
    }
}

.aboutme {
    position: relative;
    height: 100%;
    background: linear-gradient(to bottom, white, #fdfdf9, #fdfdf9, white);
    overflow: hidden;
    &__light {
        z-index: 1;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 1s ease;
        background: radial-gradient($emerald, transparent, transparent);
        transform: translateX(-50%) translateY(-50%);
        animation: flikering 3s linear infinite;
    }

    &__grid {
        z-index: 2;
        position: absolute;
        height: inherit;
        width: 100%;
        background: url(../../img/hexagon_tile.png);
        background-size: 70px 70px;
    }
    .right-head{
        z-index: 100;
        position: absolute;
        right: 50px;
        top: 15px;
    }
    .openMore{
        position: fixed;
    }
    .user-name{
        color: rgb(206, 201, 196);
        margin-right: 10px;
        font-family: 'Jura', sans-serif;
        letter-spacing: 1px;
    }
    .right-btn{
        cursor: pointer;
        padding: 5px 10px;
        background: none;
        border: 1px solid $orange;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        transition: background .2s ease;
        opacity: .8;
        letter-spacing: 2px;
        &:hover{
            background-color: $orange;
        }
    }
    .exitBtn{
        margin-right: 20px;
    }
}

//Project Section
.map {
    padding: 73px 0;
    display: flex;
    justify-content: center;
    z-index: 3;
    max-width: 1550px;
    margin: 0 auto;    
}

.levels {
    z-index: 3;
    width: 100%;
    
    &__pack {
        margin: 30px 15% 100px;
    }

    &__header {
        @include textFormat(40px, 600, $gray);
        letter-spacing: 6px;
        padding: 7px 0;
        text-align: center;
        cursor: pointer;
        margin: 60px 0 30px;
        transition: all .3s ease;
        &:hover{
            background: rgb(233, 240, 245);
            color: black;
        }
    }
    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        width: 20rem;
        height: 100px;
        padding: 7px 13px;
        position: relative;
        transition: all .2s ease-in-out;
        margin: 28px;

        &:hover {
            transform: scale(1.3);
            filter: drop-shadow(8px 8px 10px gray);
        }
    }

    &__name-item {
        font-size: 1.5rem;
    }

    &__descr-item {
        height: 45px;
        font-size: 1.1rem;
        font-weight: lighter;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
        overflow: hidden;
    }

    &__lvl {
        @include textFormat(40px, 600, black);
        position: absolute;
        top: -30px;
        left: -15px;
    }

    &__btn-item {
        position: relative;
        overflow: hidden;
        height: 50px;
    }

    &__btn-wrapper {
        position: absolute;
        top: 5px;
        transition: top .2s ease;
    }

    &__item:hover &__btn-wrapper {
        top: -43px;
    }
}

// more fixed side bar
.more {
    z-index: 100;
    position: fixed;
    background-color: $gray;
    border-left: 3px solid $darkgray;
    top: 0;
    right: -600px;
    height: 100vh;
    width: 500px;
    overflow: scroll;
    overflow-x: hidden;
    transition: right .3s ease-in-out;
    direction: rtl;
    &::-webkit-scrollbar {
        width: 15px;
    }
    &::-webkit-scrollbar-track {
        background: $darkgray;
    }
    &::-webkit-scrollbar-thumb {
        background: #a5a5ac;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #bfc0c7;
    }
    &__inner {
        padding: 50px 20px;
        direction: ltr;
    }

    &__item {
        position: relative;
        padding: 7px 10px;
        margin-bottom: 15px;
    }

    &__title {
        margin-bottom: 7px;
    }

    &__btn {
        display: inline-block;
        padding: 5px 10px;
        margin-right: 10px;
        min-width: 50px;
        cursor: pointer;
    }

    &__text {
        text-indent: 25px;
        margin: 15px 0;
    }
    &__hard{
        font-size: 15px;
        margin-bottom: 25px;
    }

    &__duration {
        margin: 25px 0 15px;
        font-size: 15px
    }
}

.btn {
    @include textFormat(1rem, 300, black);
    font-family: 'Jura', sans-serif;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    margin-right: 5px;
    outline: none;
    border: none;
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
    transition: all .15s linear;

    &:hover {
        filter: brightness(120%);
    }
}

// close button for more block
.close {
    position: absolute;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.4;
    cursor: pointer;
}
.close-more{
    left: 10px;
}
.close-item{
    right: 10px;
}
.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

//footer section
.footer {
    display: flex;
    padding: 50px 50px 150px;

    &__inner {
        z-index: 3;
        width: 100%;
        text-align: center;
    }

    h3 {
        @include textFormat(18px, 600, $gray);
        margin: 20px 0 30px;
    }

    p {
        @include textFormat(16px, 300, $gray);
        margin-bottom: 7px;
    }

    &__messangers {
        margin-top: 15px;
    }

    a {
        color: $gray;
        text-decoration: none;
    }

    i {
        margin: 7px;
        transition: all .2s ease;

        &:hover {
            transform: scale(1.5);
            filter: brightness(90%);
        }
    }

    i.fa-whatsapp:hover {
        color: #49c93d;
    }

    i.fa-viber:hover {
        color: #784f99;
    }

    i.fa-telegram:hover {
        color: #34a5e0;
    }
}

.bg-y {
    background-color: #dfdcb3b6;
}

.bg-r {
    background-color: #e0c7d4c7;
}

.bg-b {
    background-color: #b3cee4a4;
}

.bg-g {
    background-color: #a7a7a7a4;
}

.bg-g:hover .levels__btn-wrapper {
    top: 5px;
}

.copy-btn {
    background-color: #f1ac52;
}

.more-btn {
    background-color: #ebebf5;
}

.bg-green {
    background-color: #38b128;
}
.add-link{
    background: rgb(156, 199, 139);
    padding: 2px 7px;
    border-radius: 5px;
    color: black;
}
.add-link:hover{
    background: rgb(128, 197, 101);

}
.d-n{
    display: none;
}
/* Animations
================== */
@keyframes toTopBtn {
    0% {
        bottom: 800px;
    }

    100% {
        bottom: 100px;
    }
}

@keyframes flikering {
    0% {
        filter: hue-rotate(0deg);
    }

    ;

    100% {
        filter: hue-rotate(360deg);
    }

    ;
}

/* MEDIA queries
================== */
@media screen and (max-width: 1100px) {
    #toTop {
        right: 70px;
    }
}

@media screen and (max-width: 657px) {


    #toTop {
        right: 30px;
    }

    .projects {
        &__pack {
            margin: 100px 2vw;
        }
    }
}