div{
  font-family: Arial, Helvetica, sans-serif;
  text-align:  center;
  padding: 5px 10px 10px;
  width: 100px;
  
  background: url(./map.jpg) center;
  background-size: cover;
}
p{
  color: #ffffff;
  padding: 15px 0;
  background: linear-gradient(90deg, #158dd3, #e7712c);
  opacity: 0.7;
}