body{
    background-color: rgb(219, 193, 209);
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 600;
    padding: 15px 0;
}
h1{
    letter-spacing: 10px;
    padding-bottom: 25px;
    width: 600px;
    border-bottom: 2px dotted black;
    margin: 70px auto 50px;
}
h3{
    margin-bottom: 50px;
}
p{
    font-weight: 300;
}
li{
    text-align: left;
    line-height: 30px;
    margin: 15px 0;
    font-weight: 300;
}
.link{
    color: black;
    background-color: chocolate;
    padding: 7px 15px;
    border-radius: 5px;
    margin: 10px;
}
.redorange{
    color: rgb(223, 74, 37);
}
.blue{
    color: rgb(22, 86, 223);
}
.h2hi4{
    margin: 70px 0 15px;
}
h4{
    text-align: right;
    margin: 70px 150px 15px 0;
}
.china{
    font-size: 1.3em;
}
.hist{
    margin-top: 70px;
}
.his{
    margin: 0 15px;
    padding: 15px;
    border: 4px solid black;
}
.red{
    background-color: rgb(206, 96, 96);
}
.bluer{
    background-color: #1c5eda;
}
.yel{
    background-color: rgb(207, 207, 78);
}