*{
    padding: 0;
    margin: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none
}
body{
    font-family: Arial;
}
.posR{
    position: relative;
}
.posA{
    position: absolute;
}
.title1{
    position: relative;
    margin: 10px 0 100px;
    font-family:  'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    &::after{
        content: ' ';
        position: absolute;
        width: 300px;
        height: 1px;
        background-color: #5f400a;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
    }
    span{
        color: #ffab19;
    }
}
.go-to{
    background-color: #4c97ff;
    color: white;
    width: 250px;
    margin: 50px auto;
    text-align: center;
    border-radius: 7px;
    padding: 7px 5px;
    &__XY{
        border: none;
        outline: none;
        text-align: center;
        display: inline-block;
        background-color: white;
        width: 29px;
        padding: 2px 7px;
        border-radius: 7px;
        color: #000;
        &:focus{
            border-radius: 7px;
            box-shadow: 2px 2px 15px inset  #f8c46b;
        }
    }
}
.field{
    margin: 30px auto 30px;
    width: 480px;
    height: 360px;
    &__overflow{
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
    &__img{
        height: 100%;
        width: 100%;
    }
    &__cat{
        bottom: 180px;
        cursor: pointer;
        left: 240px;
        transform: translateX(-50%) translateY(50%);
    }
}

.vertical{
    bottom: 0px;
    left: -40px;
    input{
        cursor: pointer;
        writing-mode: bt-lr; /* IE */
        -webkit-appearance: slider-vertical; /* WebKit */
        -moz-appearance: slider-vertical; /* WebKit */
        width: 8px;
        height: 360px;
        padding: 0;
        margin: 0;
    }
    p{
        margin-bottom: 20px;
    }
}
.horizont{
    bottom: -40px;
    left: 0;
    display: flex;
    input{
        cursor: pointer;
        width: 480px;
        padding: 0;
        margin: 0;
    }
    p{
        margin-left: 20px;
    }
}
