body{
	font-family: Arial;
	background-color: #b1d0b5; 
}
.container{
	display: flex;
	flex-direction:column;
	align-items: center;
	border: 10px double #faea1b;
	width: 100%;
	max-width: 1500px;
	margin: 70px auto;
	padding: 20px 50px;
	border-radius: 30%;
}
.flex-container-item1
{
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
}
img{
   width: 40%;
}
.flex-container-item2
{
	display: flex;
	flex-direction:row;
	justify-content:flex-end;
	align-items:center;
}
.flex-item2{
	border: 5px dotted #e86b28;
	border-radius: 5% 30%;
	padding: 20px 45px;
	margin: 0px 15px 30px 0px;
	width: 45%;
}

p{
	font-size: 16px;
}
.colorwheel {
    margin-top: 100px;
    font-size: 30px;
	text-align:center;
	color: #c59641;
}
h1{
	letter-spacing: 27px;
	text-align:center;
}
h1 ins{
	color: #73a4a9;
}
.c1{
	color: #1595e2;
}
.c2{
	color: #ff8d00;
}
.link{
    color: #774343;
	font-size:20px;
	background-color: #b5b377;
	padding: 7px;
    border-radius: 5px;
}