#alertwin *{
    margin: 0;
    padding: 0;
}
#alertwin{
    text-align: center;
    padding: 30px;
    font-family: Arial, sans-serif;
    display: block;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: fit-content;
    background-color: rgba(27, 25, 23, 0.953);
    animation: animwin 1s ease forwards;
}
@keyframes animwin{
    0% {top: -220px;}
    100% {top: 10%;}
}
#alertwin P{
    font-size: 16px;
    color: #d8c8bb;
    padding: 8px;
}
#alertwin .ready-btn{
    text-decoration: none;
    margin: 15px 15px 0;
    font-size: 20px;
    padding: 7px 15px;
    background-color: #199b7a;
    font-weight: normal;
    outline: none;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: all .2s ease;
}
#alertwin .ready-btn:hover{
    background-color: #ff5e00;
}
#alertwin .link, #alertwin b {
    color: white;
}
#alertwin .link:hover{
    color: #ff5e00;
}