body{
        text-align: center;
        background-color: rgb(179, 196, 188);
        border: 2px dotted black;
        margin-left: 20%;
        margin-right: 20%;
}
h1{
    color: rgb(110, 124, 111);
    font-size: 50px;
}