body{
    text-align: center;
}
.underline{
    font-size: 1.2em;
    text-decoration: underline;
}
.scratch-title span{
    font-size: 40px;
}
.tast-block{
    padding: 30px;
    width: 600px;
}
.ready-title{
    text-align: right;
    width: 480px;
}
.task-title{
    background-color: #a0c5f5;
    line-height: 31px;
}
ul{
    text-align: left;
    width: 500px;
}
.task-item{
    margin: 10px 0;
    line-height: 25px;
}
.tast-item-wrapper{
    display: flex;
    justify-content: space-between;
}
.custom-width{
    width: 400px;
    font-size: 16px;
}
